{
  "swagger": "2.0",
  "info": {
    "title": "Default title",
    "description": "",
    "version": "1.0"
  },
  "host": "3d-api.si.edu",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v1.0/content/file/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The title of the returned item.",
                        "title": "Title",
                        "x-ms-visibility": "important"
                      },
                      "content": {
                        "type": "object",
                        "properties": {
                          "usage": {
                            "type": "string",
                            "description": "This property shows where you can use the returned item for, for instance: Web3D.",
                            "title": "Usage",
                            "x-ms-visibility": "advanced"
                          },
                          "quality": {
                            "type": "string",
                            "description": "This property shows what the quality of the returned item is.",
                            "title": "Quality",
                            "x-ms-visibility": "important"
                          },
                          "uri": {
                            "type": "string",
                            "description": "This property shows what the URI of the returned item is.",
                            "title": "URI",
                            "x-ms-visibility": "important"
                          },
                          "file_type": {
                            "type": "string",
                            "description": "This property shows what the file type of the returned item is.",
                            "title": "File Type",
                            "x-ms-visibility": "important"
                          },
                          "draco_compressed": {
                            "type": "string",
                            "description": "This property shows if the returned item is Draco compressed or not.",
                            "title": "Draco Compressed",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "description": "content"
                      }
                    }
                  },
                  "description": "rows"
                },
                "rowCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The row count of the items that get returned.",
                  "title": "Row Count",
                  "x-ms-visibility": "internal"
                },
                "message": {
                  "type": "string",
                  "description": "The message that describes the response, for instance: content found.",
                  "title": "Message",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "This property shows the status code of the error, for instance: '400' or '404'.",
                  "title": "Status",
                  "x-ms-visibility": "important"
                },
                "responseCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "This property shows the response code of the error, for instance: '0'.",
                  "title": "Response Code",
                  "x-ms-visibility": "advanced"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "This property shows the description of the error: for instance: 'not found: the resource you were acting on could not be found'.",
                      "title": "Error",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "response"
                },
                "timestamp": {
                  "type": "string",
                  "description": "This property shows the timestamp of the error, for instance: 'Fri Jun 07 09:23:09 EDT 2019'.",
                  "title": "Timestamp",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "File search",
        "description": "This action searches the Smithsonian 3D API and fetches content based on a query/filter.",
        "operationId": "FileSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Query",
            "description": "The query term you would like to issue. Examples: Mandible, Space Shuttle, Crab.",
            "x-ms-visibility": "important"
          },
          {
            "name": "file_type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The file type to filter results against.",
            "x-ms-summary": "File Type",
            "x-ms-visibility": "advanced",
            "enum": [
              "jpg",
              "glb",
              "ply",
              "zip"
            ]
          },
          {
            "name": "quality",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The quality type to filter results against.",
            "x-ms-summary": "Quality",
            "x-ms-visibility": "advanced",
            "enum": [
              "Low",
              "Medium",
              "High",
              "Thumb",
              "Low_resolution",
              "Medium_resolution",
              "Full_resolution",
              "Water_tight"
            ]
          },
          {
            "name": "model_type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The model type to filter results against.",
            "x-ms-summary": "Model Type",
            "x-ms-visibility": "advanced",
            "enum": [
              "glb",
              "ply",
              "obj",
              "gltf",
              "f3z",
              "blend",
              "stl"
            ]
          },
          {
            "name": "gltf_orientation_compliant",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Restrict results to glTF orientation compliant files.",
            "x-ms-summary": "glTF Orientation Compliant",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "draco_compressed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Restrict results to Draco compressed files.",
            "x-ms-summary": "Draco Compressed",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The start of the result set.",
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "rows",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}